## Archivos de compilación
bin/
obj/
out/
*.log

## Archivos del usuario de Visual Studio
.vs/
*.user
*.suo

## Publicaciones temporales
publish/
*.dbmdl
*.pdb

## Archivos generados por paquetes de NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

## Configuración global de Rider/VSCode (opcional)
.idea/
.vscode/
*.code-workspace

## Sistema operativo
.DS_Store
Thumbs.db

## Archivos de seguridad y claves
secrets.json

## Configuración temporal
*.tmp
*.bak

## Archivos de test
TestResults/
*.coverage
*.coveragexml

## Otros archivos innecesarios
_ReSharper*/
*.orig
*.userosscache
*.sln.docstates

## LibMan
libman.json
wwwroot/lib/

## Archivos de entorno
.env
