USE [TrabajadoresPrueba]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddUpdTrabajador]    Script Date: 14/07/2025 17:27:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*********************************************************
* Nombre: dbo.SP_AddUpdTrabajador
* Descripcion: Registrar o editar un trabajador
* Parametros:
*	@Id: Identificador del trabajador
*	@TipoDocumento: Tipo de documento del trabajador
*	@NumeroDocumento: Número de documento del trabajador
*	@Nombres: Nombres y apellidos del trabajador
*	@Sexo: Sexo del trabajador
*	@IdDepartamento: Departamento del trabajador
*	@IdProvincia: Provincia del trabajador
*	@IdDistrito: Distrito del trabajador
*
* Prueba: EXEC dbo.SP_AddUpdTrabajador 0, '10001','12345678', 'Prueba', 'M', 1, 1, 1857
**********************************************************/
CREATE PROCEDURE [dbo].[SP_AddUpdTrabajador]
	@Id					INT,
	@TipoDocumento		INT,
	@NumeroDocumento	VARCHAR(50),
	@Nombres			VARCHAR(500),
	@Sexo				VARCHAR(1),
	@IdDepartamento		INT,
	@IdProvincia		INT,
	@IdDistrito			INT
AS
BEGIN
	
	IF @Id = 0
		BEGIN
			INSERT INTO dbo.Trabajadores
			(
				TipoDocumento, 
				NumeroDocumento, 
				Nombres, 
				Sexo, 
				IdDepartamento, 
				IdProvincia, 
				IdDistrito, 
				Estado
			)
			VALUES (
				@TipoDocumento, 
				@NumeroDocumento, 
				@Nombres, 
				@Sexo, 
				@IdDepartamento, 
				@IdProvincia, 
				@IdDistrito, 
				1
			);
		END
	ELSE
		BEGIN
			UPDATE dbo.Trabajadores
			SET
				TipoDocumento = @TipoDocumento, 
				NumeroDocumento = @NumeroDocumento, 
				Nombres = @Nombres, 
				Sexo = @Sexo, 
				IdDepartamento = @IdDepartamento, 
				IdProvincia = @IdProvincia, 
				IdDistrito = @IdDistrito
			WHERE Id = @Id;
		END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarTrabajador]    Script Date: 14/07/2025 17:27:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*********************************************************
* Nombre: dbo.SP_EliminarTrabajador
* Descripcion: Eliminar un trabajador
* Parametros:
*	@Id: Identificador del trabajador
*
* Prueba: EXEC dbo.SP_EliminarTrabajador 1
**********************************************************/
CREATE PROCEDURE [dbo].[SP_EliminarTrabajador]
	@Id	INT
AS
BEGIN
	
	UPDATE dbo.Trabajadores
	SET
		Estado = 0
	WHERE Id = @Id;

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerTrabajadores]    Script Date: 14/07/2025 17:27:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*********************************************************
* Nombre: dbo.SP_ObtenerTrabajadores
* Descripcion: Listar los trabajadores con paginacion de 10 registros
* Parametros:
*	@Nombres: Nombre del trabajador
*	@sexo: Sexo del trabajdor
*	@NumDocumento: Número de documento del trabajador
*	@page: Número de pagina
*	@rows: Número de filas
*
* Prueba: EXEC dbo.SP_ObtenerTrabajadores '', '', '', 1, 10
**********************************************************/
CREATE PROCEDURE [dbo].[SP_ObtenerTrabajadores]
	@Nombres		VARCHAR(150),
	@sexo			VARCHAR(1),
	@NumDocumento	VARCHAR(50),
	@page			INT = 1,
	@rows			INT = 10
AS
BEGIN
	SET NOCOUNT ON;

	WITH QueryPag(fila, Id, TipoDocumento, NroDocumento, Nombres, Sexo, Departamento, Provincia, Distrito)
	AS(
		SELECT 
			ROW_NUMBER() OVER ( ORDER BY tr.Id ASC)		AS fila,
			tr.Id										AS Id,
			enu.Descripcion								AS TipoDoumento,
			tr.NumeroDocumento							AS NumeroDocumento,
			tr.Nombres									AS Nombres,
			tr.Sexo										AS Sexo,
			dep.NombreDepartamento						AS Departamento,
			pro.NombreProvincia							AS Provincia,
			dis.NombreDistrito							AS Distrito
		FROM dbo.Trabajadores tr

		INNER JOIN dbo.Enumerado enu
		ON enu.IdEnumerado = tr.TipoDocumento

		LEFT JOIN dbo.Departamento dep
		ON dep.Id = tr.IdDepartamento

		LEFT JOIN dbo.Provincia pro
		ON pro.Id = tr.IdProvincia

		LEFT JOIN dbo.Distrito dis
		ON dis.Id = tr.IdDistrito

		WHERE (@Nombres = '' OR LOWER(tr.Nombres) LIKE '%' + LOWER(@Nombres) + '%')
		AND (@sexo = '' OR tr.Sexo = @sexo)
		AND (@NumDocumento = '' OR tr.NumeroDocumento LIKE '%' + @NumDocumento + '%')
		AND tr.Estado = 1
	)
	SELECT 
		fila,
		Id,
		TipoDocumento,
		NroDocumento,
		Nombres,
		Sexo,
		Departamento,
		Provincia,
		Distrito,
		(SELECT MAX(fila) FROM QueryPag) AS TotalRows
	FROM QueryPag WHERE 
		(fila BETWEEN ((@page - 1) * @rows + 1) AND (@PAGE * @ROWS) 
		OR (@PAGE = 0 AND  @ROWS = 0))


	SET NOCOUNT OFF;

END;
GO
